@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@font-face {
    font-family: 'Albertus Medium';
    font-style: normal;
    font-weight: 100;
    src: local('Albertus Medium'), url('../fonts/Albertus Medium Regular.woff') format('woff');
    }

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header{
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 20% 80%;
}

.logo{
    height: 60%;
    width: 60%;
    vertical-align: middle;
    padding-top: 2.5%;
    padding-left: 55%;
}

nav{
    padding-left: 30%;
}

ul{
    display: flex;
    gap: 5%;
    list-style-type: none;
}


li{
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    display: inline-block;
}

a{
    font-family: 'Albertus Medium';
    text-transform: uppercase;
    text-decoration: none;
    color:  #4E4E4E;  
    font-size: 20px;
}

a:hover{
    color: #97A52F;
}

ul li .dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #C7C965;
    padding: 10% 20%;
    margin: 0;
    list-style-type: none;
    border: 1px solid #ccc;
}
  
ul li .dropdown li {
    padding: 8px;
    border-bottom: 2px solid #FFFFFF;
}

.dropdowna{
    font-size: 15px;
}

ul li .dropdown a:hover{
    color:#FFFFFF;
    font-weight: 600;
}

ul li:hover > .dropdown {
    display: block;
    max-height: 200px; 
    opacity: 1;
}

  .dropdown, .dropdown-submenu {
	display: none;
	margin-top: 10px; 
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 10px; 
    min-width: 150px; 
}
  
.dropdown li:hover > .dropdown-submenu {
    display: block;
    max-height: 150px; 
    opacity: 1;
    margin-top: 0; 
    margin-left: 20px;
}

.dropdown li:last-child, .dropdown-submenu li:last-child {
	border-bottom: none;
}

section{
    background-color: #EDEDEB;
    margin: 0;
    padding: 0;
}



h1{
    font-family: 'Playfair Display';
    text-align: center;
    text-transform: uppercase;
    color: #101010;
    font-weight: 100;
}

.text1{
    transform: translateY(10%);
}

.text1 > p{
    column-count: 2;
    column-gap: 5%;
    font-family: 'krub';
    color: #545454;
}

.image2 > img{
    position: absolute;
}

.image2 > p{
    position: relative;
    color:#FFFFFF;
}

/*.p1{
    padding-top: 30%;
    padding-left: 55%;
}

.p2{
    padding-left: 55%;
}

.image3 > img{
    width: 100vw;
}*/

.footer{
    background-image: url(../IMAGES/footer.png);
    position: relative;
    height: 30vh;
    width: 100vw;
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
}