@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    color: black;
}

h1, h4{
    text-transform: uppercase;
    font-family: play fair;
}

h4{
    font-size: 10px;
}


p{
    font-family: krub, sans-serif;
    font-size: smaller;
}

header{
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 20% 80%;
    
}

.logo{
    height: 40%;
    width: 40%;
    padding: 10% 20%;
}

nav{
    padding-left: 40%;
   
}

ul{
    display: flex;
    gap: 5%
}


li{
    display: inline-flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color:  black;
    
}

.ProductBackground2{
    background-image: url(../IMAGES/ProductBackground3.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

section{
    background-color: #EDEDEB;
    padding-top: 5%;
    padding-bottom: 10%;
}


.title1, .title2{
    text-align: center;
    text-transform: capitalize;
    
}

.title2, .title3{
    padding: 3% 15%;
    font-size: x-small;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0 20%;
}

.ModalButton{
    width: 20%;
    height: 25%;
    background-color: white;
    border-radius: 5%;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    font-size: x-small;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 3%;
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
}


/* The Close Button */
.closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.ModalButton > img{
    width: 50%;
    height: 50%;
    padding-top: 10%;
}

.modal > img{
    width: 10%;
    height: 20%;
}


.footer{
    background-image: url(../IMAGES/footer.png);
    position: relative;
    height: 40vh;
    width: 100vw;
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
}


@media screen and (max-width: 768px) {

    .logo{
        height: 80%;
        width: 80%;
        padding: 5% 20%;
    }
  
    .forMobile {
      width: 20%;
      height: 20%;
      float: right;
      cursor: pointer;
      padding-left: 70%;
      padding-top: 5%;
    }
    
    .menu-box {
      width: 0;
      height: 0;
      display: block;
      position: fixed;
      z-index: 100;
      background-color: rgba(51, 53, 34, 0.8);
      right: 0;
      top: 0;
      padding: 0;
      overflow: hidden;
      
      border-bottom-left-radius: 100%;
      transition: width 0.1s, height 0.1s, border-radius 0.5s;
    }

    ul{
        display: block;
    }

    li{
        display: block;
    }
    
    .menu-box a {
      color: white;
      text-decoration: none;
      display: block;
      text-align: left;
      font-size: 95%;
      padding: 0.5%;
      line-height: 200%;
    
    }
    
    .exitMobile {
      width: 10%;
      height: 10%;
      float: right;
      cursor: pointer;
      margin-top: 0;
      padding-right: 3%;
    }
    
    .menu-box.open-menu {
      width: 50%;
      height: 100%;
      border-bottom-left-radius: 0;
    }

    
    .title2{
        display: none;
    }

    .products{
        display: block;
    }
    
    button{
        display: block;
        align-items: center;
        width: 100%;
        margin: 3% auto;
        text-align: center;
    }

    .ModalButton > img{
        width: 100%;
        height: 100%;
    }
    
    h4{
        font-size: 5px;
    }

    .title2, .title3{
        font-size: 7px;
    }

    .title1, .title2{
        text-align: center;
        margin: 0 auto;
        padding-left: 7%;
    }

    .modal{
        font-size: 6px;
    }
    .modal-content{
        width: 80%;
    }
        
    .modal-content > img{
        width: 10%;
        height: 80%;
        padding-top: 10%;
    }

       
        
    }

@media screen and (min-width: 768px){
    .forMobile {
        display: none;
    }

    .exitMobile{
        display: none;
    }
}